@flip:registry=https://gitlab.flipfit.io/api/v4/packages/npm/
@backend:registry=https://gitlab.flipfit.io/api/v4/packages/npm/
@core:registry=https://gitlab.flipfit.io/api/v4/packages/npm/
@video:registry=https://gitlab.flipfit.io/api/v4/packages/npm/
//gitlab.flipfit.io/api/v4/packages/npm/:_authToken=${GITLAB_TOKEN}
//gitlab.flipfit.io/api/v4/projects/1148/packages/npm/:_authToken=${GITLAB_TOKEN}