PORT=3000
NPM_TOKEN=${NPM_TOKEN}
DEPENDENCY_SNAPSHOT_IMAGE=${DEPENDENCY_SNAPSHOT_IMAGE}
MONGO_URI=mongodb://mongo/staging

SERVICE_NAME=flip-personalization-viewer

BROKER_QUEUE=personalization-viewer
BROKER_PREFETCH=3
BROKER_EXCHANGE_DURABLE=1
BROKER_QUEUE_DURABLE=1
BROKER_LOGS=1
BROKER_HOST=broker
BROKER_PORT=5672
BROKER_USER=rabbitmq
BROKER_PASSWORD=bJfjG49cm0oS1aZKuK3z
BROKER_EXCHANGE=flip-network
BROKER_DEADLETTER=0
BROKER_TIMEOUT=3000

TRACER_ENABLED=0
DEVELOPMENT_ENABLED=1

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=28

JOURNAL_DISABLE_FOR_LOCAL_RUN=true

AWS_PERSONALIZE_ACCESS_KEY_ID=some_key
AWS_PERSONALIZE_SECRET_ACCESS_KEY=some_key
AWS_PERSONALIZE_REGION=some_key

AWS_SAGE_MAKER_REGION=some_key
AWS_SAGE_MAKER_ACCESS_KEY_ID=some_key
AWS_SAGE_MAKER_SECRET_KEY=some_key
AWS_SAGE_MAKER_DRY_RUN=1

AWS_PERSONALIZE_ITEMS_BATCH_SIZE=100
AWS_PERSONALIZE_ITEMS_BATCH_CACHE_TTL=300000 
AWS_PERSONALIZE_ITEMS_BATCH_CACHE_ENABLED=1
AWS_PERSONALIZE_ITEMS_READ_DEFAULT_USER_ID=ffffffffffffffffffffffff
AWS_PERSONALIZED_FEED_POSTS_PER_BRAND_LIMIT=2
AWS_PERSONALIZED_FEED_POSTS_PER_USER_LIMIT=2

AWS_PERSONALIZE_PRODUCT_ITEM_RECOMMENDATIONS_READ_BATCH_SIZE=100
AWS_PERSONALIZE_PRODUCT_ITEM_RECOMMENDATIONS_READ_DEFAULT_USER_ID=ffffffffffffffffffffffff
AWS_PERSONALIZE_PRODUCT_ITEM_RECOMMENDATIONS_READ_BATCH_CACHE_TTL=300000

AWS_PERSONALIZE_POST_RECOMMENDATIONS_BATCH_SIZE=100
AWS_PERSONALIZE_POST_RECOMMENDATIONS_READ_DEFAULT_USER_ID=ffffffffffffffffffffffff
AWS_PERSONALIZE_POST_RECOMMENDATIONS_READ_BATCH_CACHE_TTL=300000

AWS_PERSONALIZE_NOTIFICATIONS_RECOMMENDATIONS_CAMPAIGN_ARN=campaign_arn
AWS_PERSONALIZE_NOTIFICATIONS_RECOMMENDATIONS_FILTER_ARN=filter_arn
AWS_PERSONALIZE_NOTIFICATIONS_RECOMMENDATIONS_PROMOTIONS_ARN=[]
AWS_PERSONALIZE_NOTIFICATIONS_RECOMMENDATIONS_FILTER_VALUES={}

AWS_PERSONALIZE_NOTIFICATIONS_RECOMMENDATIONS_CAMPAIGN_ARN=""

STORAGE_REGION=us-west-2
STORAGE_BUCKET_SERVABLES=flip-personalize-staging
STORAGE_HOST=""
STORAGE_FORCE_PATH_STYLE=1

# Localstack
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy2
S3_REGION=us-west-2
S3_BUCKET=flip-personalize-staging
S3_FORCE_PATH_STYLE=1
AWS_ENDPOINT_URL=http://localstack:4566

CDN_URL=https://sharedflipfit.akamaized.net/

WELCOME_FEED_POST_SEEN_COUNT_THRESHOLD=48
WELCOME_FEED_VARIANT_ID=variant-id

CAMPAIGNS_NAME="default_item_recommendation,posts_v6_ranking,posts_v6_Category_tabs,Post_v6_Trending,Post_v6_alldata,Post_v6_3secWatched,purchase_v2_ranking,purchase_v2,campaign_1"

DETAILS_LOGS_ENABLED="1"

PERCENTAGE_VALUES_OF_ONBOARDING_FEED_TYPES=promoted:70,welcome_1:20,welcome_2:10

APPLOVIN_BASE_URL=https://rec.dev-applovin.com
APPLOVIN_BID_API_KEY=api-key

APPLOVIN_IS_RESPONSE_MOCKED=1
APPLOVIN_MOCKED_POSTS=""
PERSONALIZED_FEED_STATISTICS_RETENTION_DAYS_NUMBER=30

SLACK_NOTIFICATIONS_API_TOKEN=slackApiToken
SLACK_NOTIFICATIONS_CHANNEL_ID=slackChannelId

CI_TEST=1

CLIPS_CATEGORY_NAME=clips

SLACK_MESSAGE_KIBANA_URL=kibana.staging.flipfit.io

STATSIG_CONSOLE_KEY=key
STATSIG_LAYER_ID=feed_v5_variant_id

ELASTICSEARCH_URLS=http://elastic:9200
ELASTICSEARCH_POST_INDEX=posts

FEATURE_STORE_CACHE_TTL_SECONDS=300
FF_ALLOW_FEATURE_STORE_CACHE_READS=1

PERSONALIZED_FEED_V2_SM_FALLBACK_VARIANT_ID=something

REDIS_CLUSTER_HOST=redis-1
REDIS_CLUSTER_PORT=6379
REDIS_CLUSTER_SIMULATE_UNAVAILABILITY=false

POSTS_RETRIEVER_RESULT_CACHE_TTL_IN_SECONDS=1900
POSTS_RETRIEVER_RESULT_CACHE_ENABLED=1

RECOMMENDATIONS_SYSTEM_VALIDATION_REPORT_SLACK_CHANNEL_ID=report_channel_id

OPEN_SEARCH_CLIENT_MANAGED_CLUSTER_USERNAME=admin
OPEN_SEARCH_CLIENT_MANAGED_CLUSTER_PASSWORD=RandomPassword!1
OPEN_SEARCH_CLIENT_MANAGED_CLUSTER_REGION=us-west-2
OPEN_SEARCH_CLIENT_MANAGED_CLUSTER_SERVICE_NODE=http://opensearch:9200